:root {

}

body {
    background-color: #EEEEEE;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}



/* Informacion */
.informacion {
    height: 50vh;
}

.informacion__titulo {
    font-weight: 900;
    padding-bottom: 1.2rem;
    background: linear-gradient(40deg,#45cafc,#303f9f);
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 2.1rem; 
}
/* /.informacion */



/* Servicios */

.vh-50 {
    height: 60vh;
}

.vh-30 {
    height: 30vh;
    
}

.nuestrosServicios {
    background-image: url("/img/1603915291-Gamers.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.nuestrosServicios::before {
    content: '';
    position: absolute;
    background: #101536;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;

}

.svg-servicios {
    width: 550px;
    height: 550px;
}


.servicios__titulo {
    font-weight: 900;
    background: linear-gradient(40deg,#45cafc,#303f9f);
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 3.1rem; 
    margin-bottom: 2rem;
    
}

.servicios__titulo2 {
    font-weight: 900;
    background: linear-gradient(40deg,#45cafc,#303f9f);
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 5.1rem; 
    margin-bottom: 2rem;
    position: relative;
}

.servicios__parrafo {
    width: 750px;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.servicio__medida {
    width: 400px;
    height: 350px;
}
/* /.Servicios */



/* Marcas */
.marcas {
    height: 50vh;
    background: #EEEEEE;
}

.marcas__titulo {
    font-weight: 900;
    background: linear-gradient(40deg,#45cafc,#303f9f);
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 3.1rem; 
    margin-bottom: 6rem;
}
/* /.Marcas */



/* Sponsor */
.sponsorLogo {
    transition: .6s;
    width: 250px;
}

.sponsorLogo:hover {
    transform: scale(1.1);
}
/* /.Sponsor */


@media screen and (max-width: 1200px) {
    .vh-50 {
        height: 100vh;
    }
}
